#ginger{
    text-decoration: none;
    color:white;
    padding:5px;
}
.Search{
    padding:40px;
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}
.icons{
    display:flex;
    justify-content: space-evenly;

}
.fa{
    margin-top: 4px;
    margin-right: 4px;
}